In [8]:
import random

In [20]:
def populate_list(length):
  lst = []
  for i in range(length):
    lst.append(random.randint(10,50))
    return lst

In [21]:
def sum_list(lst):
  return sum(lst)

In [45]:
while True:
    user_entry = int(input("Enter an integer between 5 and 15: "))
    if user_entry >= 5 and user_entry <= 15:
        break

Enter an integer between 5 and 15: 8

In [51]:
random_lst = populate_list(user_entry)

In [52]:
print("The elements of the array are:", end=" ")
for num in random_lst:
    print(num, end=" ")

The elements of the array are: 33

In [53]:
total_sum = sum_list(random_lst)

In [54]:
print("\nThe sum is:", total_sum)

The sum is: 33